.diversity_text {
    color: #fff;
}

.diversity_text p {
    font-size: 25px;
    font-weight: 300;
}

.diversity {
    color: #fff;
}

.diversity p {
    font-size: 25px;
    font-weight: 300;
}

.diversity_main {
    position: relative;
}

.diversity_img {
    position: absolute;
    right: -80px;
    width: 1000px;
    height: 220px;
    max-width: 675px;
    background-size: cover;
    background-position: center;
}


@media (max-width: 767px) {
    .diversity_img {
        position: absolute;
        right: 10px;
        width: 1000px;
        height: 148px;
        top: -78px;
        max-width: 356px;
        background-size: cover;
        background-position: center;
    }

    .diver_col_img{
        width: 320px;
        margin-bottom: 170px;
    }

    .benefit {
        padding: 400px 0 550px 0;
    }

    .diversity p {
        font-size: 16px;
        font-weight: 300;
        padding: 20px;
    }

    .give_overflow{
        margin-top: 150px;
    }
}