.top_header {
    background: #73dcff;
}

.top_header p {
    margin-bottom: 0;
    padding: 10px 0;
}

.image1 {
    background-image: url('../../assets/images/main_bg.jpg') !important;
    background-size: cover;
    height: auto !important;
}


.mob_view {
    display: none;
}

@media (max-width: 1000px) {
    .mob_view {
        display: block;
    }

    .web_view {
        display: none;
    }
}

@media (max-width: 767px) {

    .top_header p {
        font-size: 12px;
    }

    .top_header p .insta {
        width: 17px;
    }

    .top_header p .email {
        width: 20px;
    }

    .image1 {
        position: relative;
    }
}