.footerBee_main{
    color: #fff;
    padding: 200px 0;
}

.footerBee_main img{
    max-width: 100%;
    width: 400px;
}

.footerBee_main p{
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .footerBee_main img {
        max-width: 275px;
        width: 100%;
    }

    .footerBee_main p {
        font-size: 16px;
    }
}