.footerBee_main{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    flex-direction: column;
}

.footerBee_main img{
    max-width: 100%;
    width: 400px;
}

.footerBee_main p{
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    max-width: 900px;
}

@media (max-width: 767px) {
    .footerBee_main img {
        max-width: 275px;
        width: 100%;
    }

    .footerBee_main p {
        font-size: 16px;
    }
}