.benefit_main {
    padding: 300px 0;
    position: relative;
}

.benefit_img{
    position: absolute;
    left: 40%;
    top: 40%;
    width: 1000px;
    height: 245px;
    max-width: 250px;
    background-size: cover;
    background-position: center;
}

.benefit_img1 {
    position: absolute;
    left: 0;
    top: 120px;
    width: 958px;
    height: 380px;
    max-width: 490px;
    background-size: cover;
    background-position: center;
}



.welcome_benefit_head h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-style: italic;
    margin-bottom: 10px;
}

.welcome_benefit_head h1 span {
    color: #D9B71A;
}

.benefit_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.benefit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 600px 0;
}

.benefit_text h1 {
    font-size: 45px;
    font-weight: 600;
}

.benefit_text p {
    font-size: 25px;
    font-weight: 300;
}

.benefit_img img {
    width: 460px;
}

.benefit_img {
    text-align: center;
}

@media (max-width: 1024px) {
    .benefit {
        height: auto;
    }

    .welcome_benefit_head h1 {
        font-size: 37px;
        margin-top: 30px;
    }

    .benefit_text h1 {
        font-size: 35px;
    }

    .benefit_text p {
        padding-right: 0;
        font-size: 13px;
    }

    .benefit_text button {
        margin-bottom: 30px;
    }
}