.piece_text {
    color: #fff;
    position: relative;
    z-index: 2;
}

.piece_text p {
    font-size: 25px;
    font-weight: 500;
}

.pieceArt_text {
    color: #fff;
    text-align: center;
}

.pieceArt_text p {
    font-size: 25px;
    font-weight: 300;
}

.piece_art {
    position: relative;
    padding: 100px 0;
}

.piece_bg {
    position: relative;
    z-index: 1;
}

.piece_bg img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 350px;
    max-width: 400px;
    background-size: cover;
    background-position: center;
}



@media (max-width: 767px) {
    .piece_art .first_img {
        max-width: 275px;
        margin-bottom: 130px;
    }

    .piece_text p {
        font-size: 18px;
    }

    .piece_bg img {
        position: absolute;
        right: 15px;
        bottom: 200px;
        height: 220px;
        max-width: 260px;
        background-size: cover;
        background-position: center;
    }
    
    .piece_text {
        position: relative;
        z-index: 2;
        padding: 20px;
    }

    .overflow_margin{
        width: 100%;
        overflow-x: hidden !important;
    }
}