.utilities_main {
    color: #fff;
    position: relative;
    padding-top: 600px
}

.utility_img {
    position: absolute;
    right: 0;
    top: 62%;
    width: 1000px;
    height: 345px;
    max-width: 490px;
    background-size: cover;
    background-position: center;
}


.utilities_main h1 {
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.utilities_main p {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.utilities_main p span {
    font-size: 35px;
    font-weight: bold;
}

.utilities_text {
    z-index: 2;
    max-width: 950px;
    margin: auto;
}

.utilities_text p {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
}

.elastic_utilities h4{
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
}

.elastic_utilities{
    padding-top: 80px;
}