.navbar-brand img {
    width: 100px;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-right: 30px;
    cursor: pointer;
}

.get_touch_btn {
    border-radius: 10px;
    background: #73dcff;
    box-shadow: 0px 0px 18px rgb(115 220 255 / 60%);
    border: none;
    padding: 10px 30px;
    font-size: 13px;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    background-color: #73dcff;
    border: none !important;
}